//COLORS
$color-pink:#FF3083;
$color-teal:#2BD1FC;

$color-black: #151515;
$black-light: #222222;
$black-lighter: #3b3b3b;
$black-even-lighter: rgb(102, 102, 102);
$black-even-lighter-50: rgba(102, 102, 102,0.5);
$black-even-lighter-75: rgba(102, 102, 102,0.75);

$white: rgb(235, 235, 235);
$white-50: rgba(235, 235, 235,0.5);
$white-75: rgba(235, 235, 235,0.75);

//Fonts
$font-text : "Lekton";
$font-title : "lazer84";
$font-subtitle : "Press Start 2P";
